.card_pricing__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: .3rem .5rem;
  background-color: rgba(0, 0, 0, .9);
  gap: .3rem;
}

.card_pricing__title h3 {
  font-weight: normal;
}

.card_pricing__value {
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
}

.card_pricing__value {
  border-left: 3px solid greenyellow;
  padding: .1rem .4rem;
}
